/* reset */
body, p, h2, h4 {
    margin: 0;
    font-family: 'Microsoft Yahei', sans-serif;
}

tt, pre {
    font-family: 'Microsoft Yahei', sans-serif;
}

a {
    text-decoration: none;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

dl {
    margin: 0;
    display: block;
}

dd {
    margin: 0;
}

select {
    border: none;
    background-color: #fff;
}

button {
    padding: 0;
    border: none;
}

blockquote {
    margin: 0;
}

/* common */
.form-layout {
    padding: 5px;
}

.top {
    overflow: hidden;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    line-height: 40px;
}

.back {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background-image: url(../img/lt.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 16px;
    overflow: hidden;
}

.filter {
    display: block;
    float: right;
    padding: 0 18px;
}

.account blockquote button.disable {
    background-color: #F7F7F7;
    color: #A7A7A7;
    border: 1px solid #C4C4C4;
}

.login div button:disabled {
    color: rgb(170,170,170);
}


/* login */

.login {
    background-color: #F0EFF4;
}

.login header {
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    height: 100px;
    padding: 50px 0;
}

.login header div {
    height: 100px;
    width: 250px;
    margin: 0 auto;
}

.login header img {
    display: block;
    float: left;
    background-image: url(../img/mlogo.png);
    background-repeat: no-repeat;
    background-position: left;
    height: 100px;
    width: 110px;
}

.login header b {
    display: block;
    line-height: 90px;
    font-size: 32px;
    color: #fff;
    font-weight: normal;
}

.login form {
    padding: 5px;
}

.login form div {
    margin: 0 auto;
    max-width: 400px;
    background-color: #fff;
    border: #D4D3D8 1px solid;
    border-radius: 5px;
    padding: 0px 0px 0px 16px;
}

.login pre {
    margin: 0 auto;
    max-width: 416px;
    text-align: center;
    color: #f00;
    font-size: 16px;
    line-height: 40px;
}

.login dl {
    border-bottom: 1px solid #D9D9D9;
    line-height: 60px;
    font-size: 20px;
    height: 61px;
}

.login dl:last-child {
    border-bottom: none;
}

.login dt {
    width: 30%;
    float: left;
}

.login dd {
    float: left;
    width: 70%;
}

.login select {
    font-size: 20px;
    outline: 0;
}

.login input[type=text] {
    display: block;
    line-height: 60px;
    font-size: 20px;
    height: 60px;
    border: none;
    padding: 0;
    outline: 0;
    float: left;
    width: 65%;
}

.login div button {
    background-color: #fff;
    color: #3DC620;
    line-height: 60px;
    font-size: 20px;
    height: 60px;
    outline: 0;
    float: right;
    width: 35%;
}

.login blockquote {
    margin: 40px auto 0 auto;
    max-width: 416px;
}

.login blockquote button {
    display: block;
    width: 100%;
    background-color: #1AAC19;
    color: #fff;
    line-height: 60px;
    font-size: 20px;
    height: 60px;
    border-radius: 8px;
}

/* home */

.home {
    background-color: #F0F0F0;
}

.home form {
    padding: 5px;
}

.home div {
    margin: 0 auto 0 auto;
    max-width: 418px;
    background-image: url(../img/bg.png);
}

.home blockquote {
    padding: 20px 0 0 0;
}

.home img {
    display: block;
    margin: 0 auto;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 5px solid #fff;
}

.home h2 {
    line-height: 40px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: #fff;
}

.home cite {
    display: block;
    text-align: left;
    color: #fff;
    font-style: normal;
    font-size: 18px;
    line-height: 48px;
    padding: 0 20px 0 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.home p {
    height: 50px;
    padding: 20px 20px 20px 0;
}

.home button {
    background: transparent;
    background-color: rgba(255,255,255,0.9);
    float: right;
    line-height: 46px;
    font-size: 18px;
    padding: 0 40px;
    border: 1px #ddd solid;
    border-radius: 8px;
    color: #4785FC;
}

.home ul {
    width: 100%;
    height: 160px;
    margin: 0 auto 0 auto;
    max-width: 416px;
    background-color: #fff;
    border: #D4D3D8 1px solid;
    border-radius: 5px;
}

.home li {
    width: 33%;    
    height: 20px;
    padding: 30px 0;
    float: left;
    border-bottom: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
}

.home li:last-child, .home li:nth-child(3) {
    border-right: none;
}

.home li a {
    display: block;
    text-align: center;
    line-height: 20px;
    font-size: 18px;
}

/* account */
.account {
    background-color: #F0F0F0;
}

.account div {
    margin: 0 auto;
    max-width: 416px;
    background-color: #fff;
    border: #D4D3D8 1px solid;
    border-radius: 5px;
}

.account h4 {
    color: #999;
    font-size: 16px;
    line-height: 40px;
    padding-left: 20px;
}

.account ul {
    background-color: #ddd;
    padding-left: 20px;
    font-size: 20px;
    line-height: 50px;
}

.account dl {
    border-bottom: 1px #aaa solid;
}

.account dl:last-child {
    border-bottom: none;
}

.account dt {
    float: left;
}

.account dd {
    display: block;
    text-align: right;
    padding-right: 20px;
    color: #999;
    white-space: nowrap;
}

.account blockquote {
    margin: 40px auto 0 auto;
    max-width: 416px;
}

.account blockquote button {
    display: block;
    width: 100%;
    background-color: #1AAC19;
    color: #fff;
    line-height: 60px;
    font-size: 20px;
    height: 60px;
    border-radius: 8px;
}

.account dialog form {
}

.account ol, .login ol {
    overflow: hidden;
    font-size: 18px;
    line-height: 40px;
    padding-left: 16px;
    border-bottom: 1px solid #e2e2e2;
}

.login ol {
    border-bottom: none;
}

.login dialog li {
    text-align: right;
}

.login label {
    display: block;
    padding: 0 20px;
}

.login ol span {
    display: block;
    float: left;
}

.account li, .login dialog li {
    overflow: hidden;
    border-bottom: 1px solid #e7e7e7;
    padding: 5px 8px 5px 0;
}

.account b {
    display: block;
    text-align: center;
    width: 90px;
    padding: 0 10px;
    float: left;
    font-weight: normal;
}

.account li a {
    display: block;
    background-color: #1AAC19;
    color: #fff;
    border-radius: 8px;
}

.account span {
    display: block;
    overflow: hidden;
}

.account input {
    display: block;
    line-height: 40px;
    font-size: 18px;
    height: 40px;
    border: none;
    padding: 0;
    outline: 0;
    float: left;
}

.account li:last-child {
    border-bottom: none;
}

.account dialog footer {
    overflow: hidden;
    padding-left: 10px;
}

.account dialog button {
    font-size: 20px;
    line-height: 50px;
    background-color: #fff;
    display: block;
    float: left;
    width: 140px;
    color: #666;
}

.account dialog button[type=submit] {
    color: #1AAC19;
    border-left: 1px solid #e2e2e2;
}

/* consume */
.consume {
    max-width: 416px;
    margin: 0 auto;
}

.consume section, .account section, .login section {
    left: 0;
    position: fixed;
    padding-top: 150px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.account section {
    padding-top: 100px;
}


.consume dialog, .account dialog, .login dialog {
    position: relative;
    display: block;
    border: 1px #ddd solid;
    margin: 0 auto 0 auto;
    padding: 0;
    border-radius: 8px;
    background-color: #fff;
    width: 300px;
}

.consume h2 {
    line-height: 36px;
    font-size: 20px;
    text-align: center;
    padding: 6px 0 0 0;
}

.consume ol {

}

.consume dl {
    width: 33%;
    float: left;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
}

.consume b {
    display: block;
}

.consume i {
    display: block;
    clear: left;
    font-style: normal;
}

.consume s {
    display: block;
    clear: left;
    text-decoration: none;
}

.consume p {
    padding-left: 12px;
    font-size: 18px;
    line-height: 36px;
}

.consume tt {
    font-weight: bold;
}

.consume var {
    font-style: normal;
    padding-left: 16px;
}

.consume blockquote {
    padding: 2px 8px 8px 8px;
}

.consume blockquote button {
    display: block;
    width: 100%;
    background-color: #1AAC19;
    color: #fff;
    line-height: 46px;
    font-size: 16px;
    border-radius: 6px;
}

.list li {
    border-bottom: 1px #ccc solid;
    padding: 8px 14px 8px 0;
}

.list li:nth-child(even) {
    background-color: #ddd;
}

.list span {
    display: block;
    float: left;
    height: 56px;
    width: 40px;
    background-image: url(../img/yuan.png);
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: center center;
}

span.chongzhi {
    background-image: url(../img/chong.png);
    background-size: 13px 23px;
}

.list div {
    overflow: hidden;
    margin-left: 40px;
    font-size: 16px;
    line-height: 28px;
}

.list dt {
    overflow: hidden;
}

.list dd {

}

.list h4 {
    float: left;
    font-weight: normal;
}

.list time {
    float: right;
}

.list em {
    font-style: normal;
}

.list cite {
    float: right;
    font-style: normal;
}

.consume pre {
    color: #777;
    text-align: center;
    font-size: 16px;
}

/* info */
.info {

}

a.sex {
    display: block;
    float: right;
    width: 40px;
    height: 60px;
    background-image: url(../img/gt.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 16px;
    overflow: hidden;
}

.info dialog p {
    border-bottom: 1px solid #e2e2e2;
    text-align: center;
    font-size: 18px;
    line-height: 80px;
}

.info dialog footer {
    overflow: hidden;
    width: 280px;
    margin: 0 auto;
}

.info dialog button {
    font-size: 20px;
    line-height: 50px;
    background-color: #fff;
    display: block;
    float: left;
    width: 280px;
    color: #1AAC19;
}

/* recharge */
.recharge {
    background-color: #F0F0F0;
}

.recharge form {
    padding: 5px;
    font-size: 20px;
    line-height: 50px;
}

.recharge div {
    margin: 0 auto;
    max-width: 416px;
    background-color: #fff;
    border: #D4D3D8 1px solid;
    border-radius: 5px;
}

.recharge h4 {
    color: #999;
    font-size: 16px;
    line-height: 40px;
    padding-left: 20px;
    border-bottom: #d9d9d9 1px solid;
}

.recharge ul {
    
}

.recharge dl {
    border-bottom: 1px #aaa solid;
    overflow: hidden;
}

.recharge dl:last-child {
    border-bottom: none;    
    background-color: #ddd;
}

.recharge dt {
    float: left;
    padding-left: 20px;
}

.recharge tt {
    float: left;
    padding: 0 20px;
}

.recharge dd {
    display: block;
    text-align: right;
    color: #999;
}

.recharge span {
    display: block;
    text-align: right;
    color: #999;
    overflow: hidden;
}

.recharge var {
    font-style: normal;
    display: block;
    float: right;
}

.recharge s {
    text-decoration: none;
    height: 50px;
    width: 80px;
    display: block;
    float: right;
}

.recharge i {
    display: block;
    float: right;
    height: 50px;
    width: 10px;
}

s.sel {
    background-image: url(../img/sel.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 21px 16px;
}

.recharge blockquote {
    margin: 40px auto 0 auto;
    max-width: 416px;
}

.recharge button {
    display: block;
    width: 100%;
    background-color: #F7F7F7;
    color: #A7A7A7;
    line-height: 60px;
    font-size: 20px;
    height: 60px;
    border-radius: 8px;
    border: 1px solid #C4C4C4;
}

.recharge input {
    display: block;
    line-height: 50px;
    font-size: 20px;
    height: 50px;
    border: none;
    padding: 0;
    outline: 0;
    float: right;
    width: 90%;
}

div.pay {
    margin: 10px auto 0 auto;
}

/* filter */
.flt {
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

.flt form {
    background-color: #fff;
}

.flt ol {
    overflow: hidden;
    font-size: 18px;
    line-height: 40px;
    padding-left: 16px;
    border-bottom: 1px solid #e2e2e2;
}

.flt li {
    overflow: hidden;
    border-bottom: 1px solid #e7e7e7;
    padding: 5px 8px 5px 0;
    max-width: 408px;
    margin: 0 auto;
}

.flt b {
    display: block;
    text-align: center;
    width: 90px;
    padding: 0 10px;
    float: left;
    font-weight: normal;
}

.flt span {
    display: block;
    overflow: hidden;
}

.flt input {
    display: block;
    line-height: 40px;
    font-size: 18px;
    height: 40px;
    border: none;
    padding: 0;
    outline: 0;
    float: left;
}

.flt li:last-child {
    border-bottom: none;
}

.flt footer {
    overflow: hidden;
    width: 300px;
    margin: 0 auto;
}

.flt button {
    font-size: 20px;
    line-height: 50px;
    background-color: #fff;
    display: block;
    float: left;
    width: 150px;
    color: #666;
}

.flt button[type=submit] {
    color: #1AAC19;
    border-left: 1px solid #e2e2e2;
}

.goto {
    position: fixed;
    z-index: 6;
    display: none;
    right: 10px;
    bottom: 10px;
    width: 36px;
    height: 36px;
    background-image: url(../img/gotop.png);
    background-repeat: no-repeat;
    background-size: 39px 39px;
    background-position:  center center;
    border-radius: 18px;
    border: 1px solid #D6D6D6;
}

/* media */
@media (min-width: 375px) {
    .consume dialog {
        width: 345px;
    }

    .consume p {
        padding-left: 20px;
    }
}