/* reset */
body, p, h1, ol, ul, dir, dl, dd {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Microsoft Yahei', sans-serif;
    list-style: none;
}

h1, b {
    font-weight: normal;
}

nav {
    overflow: hidden;
}

tt, pre {
    font-family: 'Microsoft Yahei', sans-serif;
}

ol, ul, dl, dd, dialog, p {
    margin: 0;
    padding: 0;
    list-style: none;
}

dialog {
    display: block;
    overflow: hidden;
}

a {
    text-decoration: none;
}

dfn, var, address {
    font-style: normal;
}

button {
    padding: 0;
    border: none;
}

html, body, iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}

/*
body {
    background-image: linear-gradient(to bottom right, #077CEC, #0970D5);
    background-image: url(../img/bgi.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
*/

/* 点击按钮配色 
.btn-acc {
    background-image: linear-gradient(to bottom right, #00E9E6, #267BEF);
}

.btn-rec {
    background-image: linear-gradient(to bottom right, #FD9B44, #FA5496);
}

.btn-log {
    background-image: linear-gradient(to bottom right, #7DE4B5, #33CC64);
}

.btn-con {
    background-image: linear-gradient(to bottom right, #CD4EDD, #644DDB);
}

.btn-los {
    background-image: linear-gradient(to bottom right, #F8CD5D, #E78601);
}

.btn-inf {
    background-image: linear-gradient(to bottom right, #FC8E8D, #F837A2);
}*/

.btn-acc, .btn-rec, .btn-log, .btn-con, .btn-los, .btn-inf {
    background-image: linear-gradient(to bottom right, #32B3EC, #0D64CB);
}

.start ul a {
    border: 1px solid rgba(13, 100, 203, 1);
}

.start a.btn-pho {
    /*background-image: linear-gradient(to bottom right, #32B3EC, #0D64CB);*/
    background-image: linear-gradient(to bottom right, #F8CD5D, #E78601);
    border: 1px solid rgba(231, 134, 1, 1);
}

.start a.btn-car {
    background-image: linear-gradient(to bottom right, #F79474, #E32D3C);
    border: 1px solid rgba(227, 45, 60, 1);
}

.home h2 a.lnk-exit {
    color: rgba(255,0,0,0.9);
}

.log h2 a.lnk-log {
    color: #33CC64;
}

.consume h2 a.lnk-cons {
    color: #644DDB;
}

/* 遮罩 */
section {
    display: none;
    overflow: hidden;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    padding-top: 240px;
}

.ad {
    padding-top: 0;
    z-index: 10002;
}

/* 对话框 */
.dlg dialog {
    margin: 0 auto;
    background-color: rgba(255,255,255,0.9);
    font-size: 32px;
    line-height: 160px;
    border: 1px solid #666;
    width: 460px;
    text-align: center;
}

.info dialog, .tip dialog {
    position: relative;
    border: 1px #ddd solid;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #fff;
    width: 300px;
    font-size: 28px;
    line-height: 48px;
}

.ad dialog {
    width: fit-content;
    margin: 0 auto;
    border: none;
}

/* 广告 */
.ad {
    background-color: rgba(0,0,0,0.9);
}

.ad img {
    display: block;
    max-width: 100%;
}

/* 性别选择 */
.info dialog ol {
    padding-left: 20px;
}

.info dialog li {
    overflow: hidden;
    border-bottom: 1px solid #e7e7e7;
    padding: 5px 8px 5px 0;
    text-align: right;
}

.info dialog li:last-child {
    border-bottom: none;
}

.info label {
    display: block;
    padding: 0 20px;
}

.info ol span {
    display: block;
    float: left;
}

/* 提示 */
.tip dialog {
    width: fit-content;
    max-width: 600px;
    min-width: 300px;
}

.tip dialog p {
    border-bottom: 1px solid #e2e2e2;
    text-align: center;
    padding: 20px;
    white-space: nowrap;
}

.tip dialog footer {
    overflow: hidden;
    /*width: 280px;*/
    margin: 0 auto;
}

.tip dialog button {
    font-size: 28px;
    line-height: 60px;
    background-color: #fff;
    display: block;
    float: left;
    width: 100%;
    color: #666;
}

.tip button[type=submit] {
    color: #1AAC19;
}

.tip button:nth-child(2) {
    border-left: 1px solid #e2e2e2;
}

/* 选择提示 */
.prompt dialog p {
    padding: 30px;
}

.prompt dialog button {
    width: 50%;
    box-sizing: border-box;
}

/* 通用 */
.users div, .home div, .account div, .log div, .consume div, .loss div, .info div  {
    /*background-color: #6DBB27;
    background-image: linear-gradient(to bottom right, #077CEC, #0970D5);*/
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

blockquote {
}

blockquote input {
    cursor: none;
    color: transparent;
    text-shadow: 0 0 0 #000;
}

/* 开始屏幕 */
.start {
    position: fixed;
    background-color: #0970D5;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #077CEC, #0970D5);
    background-image: url(../img/px.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.start a {
    color: #fff;
    box-sizing: border-box;
    border: 5px solid rgba(255,255,255,0.5);
}

/* 主分区 */
.start div {
    overflow: hidden;
    /*background-color: #fff;*/
    margin: 0 auto;
    max-width: 1920px;
}

.start h1 {
    padding: 0 20px 0 10px;
}

.start ul {
    float: right;
    width: 40%;
    padding: 10px 10px 10px 0;
    box-sizing: border-box;
}

.start ol {
    float: left;
    width: 60%;
    padding: 10px 0 10px 10px;
    box-sizing: border-box;
    min-height: 671px;
}

.start dir {
    clear: left;
    float: left;
    width: 60%;
    padding: 0 10px 0 20px;
    box-sizing: border-box;
}

/* 头部 */
.start h1 img {
    display: block;
    float: left;
    height: 130px;
}

.start h1 b {
    display: block;
    float: left;
    font-size: 48px;
    line-height: 130px;
    /*text-shadow: 0 0 0.2em #fff, -0 -0 0.2em #fff;*/
}

.start h1 nav {
    float: left;
}

.start h1 span {
    display: block;
    float: right;
}

.start h1 p {
    float: right;
    font-size: 32px;
    line-height: 130px;
    padding: 0 30px 0 0;
    /*text-shadow: 0 0 0.2em #fff, -0 -0 0.2em #fff;*/
}

/* 右侧 */
.start li {
    float: left;
    width: 50%;
    height: 300px;
    padding: 10px;
    box-sizing: border-box;
}

.start li a {
    display: block;
    line-height: 270px;
    height: 280px;
    text-align: center;
    font-size: 48px;
}

.start li a:nth-child(odd) {
    clear: left;
}

/* 广告 */
.start dl {
    padding: 10px;
    box-sizing: border-box;
}

.start dl a {
    display: block;
    height: 100%;
    min-height: 631px;
    background-image: url(../img/px.png);
    background-size: 100% auto;
    background-position: center;
}

.start video {
    display: block;
    width: 100%;
    height: 631px;
    max-width: 1122px;
    background-color: rgba(0,0,0,0.9);
}

.fullscreen {
    object-fit: contain;
    position: fixed !important;
    top: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    left: 0px !important;
    box-sizing: border-box !important;
    min-width: 0px !important;
    max-width: none !important;
    min-height: 0px !important;
    max-height: none !important;
    width: 100% !important;
    height: 100% !important;
    transform: none !important;
    margin: 0px !important;
    z-index: 10001;
}

/* 底部 */
.start dt {
    padding: 0 10px 0 0;
}

.start dd {
    padding: 0 0 0 10px;
}

.start dt, .start dd {
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.start dt a, .start dd a {
    display: block;
    line-height: 219px;
    height: 229px;
    text-align: center;
    font-size: 48px;
}

/* 选择用户 */
.users header, .home header, .account header, .log header, .consume header, .loss header, .info header {
    /*background-color: #9CEE52;*/
    background-color: rgba(255,255,255,0.3);
    border-bottom: 1px solid #204201;
}

.users h1 {
    font-size: 48px;
    line-height: 160px;
}

.users h2, .home h2, .account h2, .log h2, .consume h2, .loss h2, .info h2 {
    padding: 10px 20px;
    overflow: hidden;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    font-weight: normal;
    box-sizing: border-box;
    font-size: 28px;
}

.users h2 b, .home h2 b, .account h2 b, .log h2 b, .consume h2 b, .loss h2 b, .info h2 b {
    display: block;
    font-weight: normal;
    /*width: 780px;*/
    padding-right: 120px;
    line-height: 60px;
    font-size: 32px;
}

.users h2 a, .home h2 a, .account h2 a, .log h2 a, .consume h2 a, .loss h2 a, .info h2 a {
    display: block;
    float: left;
    width: 120px;
    background-color: rgba(255,255,255,0.5);
    color: #022dfd;
    border-radius: 6px;
    line-height: 56px;
    /*padding: 0 30px;*/
    border: 2px solid rgba(255,255,255,0.6);
    box-sizing: border-box;
}

.users ul, .home ul {
    overflow: hidden;
    font-size: 48px;
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
}

.users li, .home li {
    float: left;
    width: 380px;
    padding: 10px;
    box-sizing: border-box;
}

.users li a {
    display: block;
    height: 260px;
    /*background-color: #007DFC;*/
    color: #fff;
    margin: 10px;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
    /*border: 5px solid rgba(255,255,255,0.5);*/
    border: 1px solid rgba(13, 100, 203, 1);
}

.users li u {
    display: block;
    text-decoration: none;
    line-height: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.users li p {
    font-size: 24px;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 主页 */
.home h2 b {
    /*padding: 0 120px;
    width: 660px;*/
    font-size: 32px;
}

.home h2 a {
    float: left;
}

.home h2 a:nth-child(2), .log h2 a:nth-child(2), .consume h2 a:nth-child(2) {
    float: right;
}

.home ul {
    padding: 80px 0 0 0;
}

.home li a {
    display: block;
    line-height: 210px;
    height: 260px;
    /*background-color: #007DFC;*/
    color: #fff;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    /*border: 5px solid rgba(255,255,255,0.5);*/
    border: 1px solid rgba(13, 100, 203, 1);
}

/* 账户信息 */
.account ul, .loss ul, .info ul {
    margin: 80px auto 0 auto;
    border: 1px solid #204201;
    width: 500px;
    font-size: 28px;
    line-height: 56px;
    padding: 0 0 0 20px;
    background-color: rgba(255,255,255,0.9);
}

.account dl, .loss dl, .info dl {
    padding: 0 20px 0 0;
    border-bottom: 1px solid #999;
    overflow: hidden;
}

.account dl:last-child, .loss dl:last-child, .info dl:last-child {
    border-bottom: none;
}

.account dt, .loss dt, .info dt {
    float: left;
}

.account dd, .loss dd {
    text-align: right;
    color: rgba(0,0,0,0.7);
}

/* 充值记录 */
.log {

}

.log header {
    /*position: fixed;
    z-index: 4;
    width: 100%;*/
}

.log main, .consume main {
    display: block;
    margin: 0 auto;
    height: 687px;
    width: 1100px;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 24px;
    line-height: 60px;
    text-align: left;
}

.log ul {

}

.log p, .consume p {
    text-align: center;
}

.log li, .consume li {
    height: 60px;
    padding: 0 30px;
}

.log li:nth-child(even), .consume li:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.9);
}

.log li dfn, .consume li dfn {
    float: left;
    width: 280px;
}

.log li var, .consume li var {
    float: left;
    width: 280px;
}

.log li time, .consume li time {
    float: right;
    width: 240px;
    color: rgba(0,0,0,0.7);
}

/* 消费记录 */
.consume {

}

.log li, .consume li {
    padding: 0 25px;
}

.consume li dfn {
    width: 160px;
}

.consume li var {
    width: 160px;
}

.consume li address {
    float: left;
    width: 400px;
}

.consume dfn, .consume var, .consume address, .consume time {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 挂失解挂 */
.loss {

}

.loss ol, .info div ol, .account ol {
    overflow: hidden;
    font-size: 32px;
    margin: 0 auto;
    width: 522px;
    padding: 80px 0 0 0;
}

.loss li {
}

.loss li a, .info li a, .account li a {
    display: block;
    line-height: 80px;
    background-color: #FC8200;
    color: #fff;
    box-sizing: border-box;
    border: 2px solid rgba(255,255,255,0.5);
}

.loss li a.disable {
    background-color: #F7F7F7;
    color: #A7A7A7;
    border: 1px solid #C4C4C4;
}

/* 完善信息 */
.info {

}

a.sex {
    display: block;
    float: right;
    width: 60px;
    height: 56px;
    background-image: url(../img/gt.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 21px 32px;
    overflow: hidden;
}

.phone dl {
    padding: 0;
}

.info dt {
    width: 30%;
    text-align: left;
}

.info dd {
    float: left;
    width: 70%;
    text-align: left;
}

.info input[type=text] {
    display: block;
    line-height: 56px;
    font-size: 28px;
    height: 56px;
    border: none;
    padding: 0;
    outline: 0;
    float: left;
    width: 100%;
    background-color: transparent;
}

.info dd button {
    background-color: transparent;
    color: #3DC620;
    line-height: 56px;
    font-size: 26px;
    height: 56px;
    outline: 0;
    float: right;
    width: 35%;
}

.code input[type=text], dd.code button {
    width: 50%;
}

.info p {
    padding: 80px 0;
    font-size: 20px;
    line-height: 20px;
}

/* 筛选 */
.flt {
    position: fixed;
    z-index: 3;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

.flt form {
    background-color: #fff;
}

.flt ol {
    overflow: hidden;
    font-size: 18px;
    line-height: 40px;
    padding-left: 16px;
    border-bottom: 1px solid #e2e2e2;
}

.flt li {
    overflow: hidden;
    border-bottom: 1px solid #e7e7e7;
    padding: 5px 8px 5px 0;
    max-width: 408px;
    margin: 0 auto;
}

.flt b {
    display: block;
    text-align: center;
    width: 90px;
    padding: 0 10px;
    float: left;
    font-weight: normal;
}

.flt span {
    display: block;
    overflow: hidden;
}

.flt input {
    display: block;
    line-height: 40px;
    font-size: 18px;
    height: 40px;
    border: none;
    padding: 0;
    outline: 0;
    float: left;
}

.flt li:last-child {
    border-bottom: none;
}

.flt footer {
    overflow: hidden;
    width: 300px;
    margin: 0 auto;
}

.flt button {
    font-size: 20px;
    line-height: 50px;
    background-color: #fff;
    display: block;
    float: left;
    width: 150px;
    color: #666;
}

.flt button[type=submit] {
    color: #1AAC19;
    border-left: 1px solid #e2e2e2;
}
